<% layout("/layouts/boilerplate") %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const mapToken = "<%= process.env.MAP_TOKEN %>";
        const map_location = "<%= listing.location %>";

        mapboxgl.accessToken = mapToken;

        const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${map_location}.json?access_token=${mapboxgl.accessToken}`;
        
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const coordinates = data.features[0].geometry.coordinates;
                const lat = coordinates[1];
                const lon = coordinates[0];
                
                const map = new mapboxgl.Map({
                    container: "map",
                    style: "mapbox://styles/mapbox/streets-v12",
                    center: [lon, lat],
                    zoom: 12
                });

                new mapboxgl.Marker({ color: "#fe424d", draggable: true })
                    .setLngLat([lon, lat])
                    .setPopup(new mapboxgl.Popup({ offset: 20 }).setHTML(`<h4 style="color: #fe424d;">${map_location}</h4><p style="color: #fe424d; height:5px;">Exact location provided after booking<p>`))
                    .addTo(map);

                map.addControl(new mapboxgl.GeolocateControl({
                    positionOptions: {
                        enableHighAccuracy: true
                    },
                    trackUserLocation: true,
                    showUserHeading: true,
                    showAccuracyCircle: true,
                    showUserLocation: true,
                }));
            })
            .catch(error => {
                console.error('Error fetching geocoding data:', error);
            });
    });
</script>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 style="text-align: center;" class="mt-3 mb-2"><b><%= listing.title %></b></h3>
            <div class="card">
                <div>
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image">
                </div>
                <div class="card-body m-2">
                    <span class=" mb-2">
                        <p class="card-text"><i class="fa-solid fa-user-tie mb-2"></i>  &nbsp;&nbsp;<b><%= listing.owner.username %></b></p>
                    </span>
                    <p class="card-text">
                        <%= listing.description %>
                    </p>
                    <span class="mt-5">
                        <p class="card-text">Price : <b>&#8377;<%= listing.price.toLocaleString("en-IN") %></b>/Day</p>
                    </span>
                    <span class="mt-5">
                        <p class="card-text">Location : <b><%= listing.location  %></b></p>
                    </span>
                    <span class="mt-5">
                        <p class="card-text">Country : <b><%= listing.country  %></b></p>
                    </span>

                    <% if(currentUser){ %>
                        <span class="btn-container mt-3">
                            <form method="get" action="/listing/<%= listing._id %>/edit" class="update-delete">
                                <button type="submit" class="btn generate-btn">UPDATE</button>
                            </form>
                            <form method="post" action="/listing/<%= listing._id %>?_method=DELETE" class="update-delete">
                                <button type="submit" class="deletebtn btn generate-btn">DELETE</button>
                            </form>
                        </span>
                    <% } %>
                </div>
            </div>

            <hr>

            <% if(currentUser){ %>
                <form method="post" action="/listing/<%= listing._id %>/reviews" novalidate class="border mb-3 p-4 needs-validation col-8 offset-2">
                    <h6 class="tac"><b>ADD YOUR REVIEW</b></h6>
                    <hr>
                    <div class="mt-3 mb-3">
                        <fieldset class="starability-slot">
                            <legend>Rating</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <!-- other radio inputs for rating -->
                        </fieldset>
                    </div>
                    <div>
                        <label for="comment" class="form-label">Comment</label>
                        <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback"><i class="fa-solid fa-circle-exclamation"></i> Must Add Your Valuable Comment</div>
                    </div>
                    <div class="update-delete">
                        <button type="submit" class="btn generate-btn mt-4">Submit</button>
                    </div>
                </form>
                <hr>
            <% } %>

            <% if(listing.reviews.length > 0){ %>
                <div class="col-12 mt-4">
                    <h5 class="offset-5 mb-4"><b>REVIEWS</b></h5>
                    <div class="row">
                        <% for(let review of listing.reviews){ %>
                            <div class="card border p-3 col-5 offset-1 mb-3">
                                <!-- Card content for each review -->
                            </div>
                        <% } %>
                    </div>
                </div>
                <hr>
            <% } %>

            <div class="col-12 tac mb-3">
                <h4><b>Where You'll Be</b></h4>
                <div id="map" class="mappppp"></div>
            </div>
        </div>
    </div>
</body>
